.primeira-letra{
    line-height: 30px;
}
.primeira-letra::first-letter{
    font-size: 40px;
    font-weight: bold;
    float: left;
    color: red;
}


.primeira-linha::first-line{
    color: blue;
    font-weight: bolder;
    font-style: italic;
    clear: both;
}
li::marker{
    font-size: 30px;
    color: yellow;
}

h2::before, h2::after{
    content: "";
    display: inline-block;
    background: url("../img/cafezin.jpg") center center no-repeat;
    width: 85px;
    height: 85px;
}