html {
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-areas:
    "header header header header"
    "hero hero hero hero"
    "about about about about"
    "services services services services"
    "projects projects projects projects"
    "footer footer footer footer";
  grid-template-columns: repeat(4, fr);
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.header {
  grid-area: header;
}
.header .header-container {
  display: flex;
  padding: 20px 40px;
  justify-content: space-between;
  align-items: center;
  /* para não ficar tão pequeno no mobile */
  min-height: 75px;
}

.header h1 {
  font-weight: 700;
  font-size: 3rem;
  /* tempo de animações nesse elemento */
  transition: 0.3s;
}

.header a:hover h1 {
  color: coral;
}

.hero {
  grid-area: hero;
  background-color: blue;
}
.about {
  grid-area: about;
  background-color: goldenrod;
}
.services {
  grid-area: services;
  background-color: pink;
}
.projects {
  grid-area: projects;
  background-color: yellow;
}
.footer {
  grid-area: footer;
  background-color: cyan;
}
