:root {
  --bgcolor-container: #f7f7f7;
}

body {
}

.container {
  background-color: var(--bgcolor-container);
  display: grid;
  grid-template-areas:
    "video-content propaganda"
    "video-content videos-sugeridos";
  grid-template-columns: 1fr 270px;
  grid-template-rows: 56px 1fr;
  font-family: "Roboto", sans-serif;
  max-width: 900px;
  gap: 20px; /* Distancia entre os grids*/
  padding: 35px;
}

.video-content {
  grid-area: video-content;
}

.video-content .info > div {
  margin-bottom: 5px;
}

.video-content .player {
  margin-bottom: 12px;
  width: 100%;
}

.video-content .titulo {
  font-size: 18px;
  margin-bottom: 7px;
}
.video-content .views {
  margin-bottom: 7px;
  font-size: 14px;
}

.propaganda {
  grid-area: propaganda;
}
.videos-sugeridos {
  grid-area: videos-sugeridos;
}
.videos-sugeridos .video {
  display: flex;
  flex-direction: row; /* default fica tudo na mesma linha  */
  margin-bottom: 5px;
  gap: 5px;
}

.videos-sugeridos .video .info {
  font-size: 11px;
  margin-bottom: 5px;
}

.videos-sugeridos .video .info .titulo {
  font-size: 14px;
}
